<footer class="footer">
  <p>&copy; {{ now.Year }} <a href="{{ `` | absURL }}">{{ site.Title }}</a></p>
  <p class="icon-link"><a href="https://twitter.com/ismasan" title="Twitter: @ismasan"><img alt="Twitter feed" src="/images/twitter-logo.svg" /></a></p>
  <p class="icon-link"><a href="https://ruby.social/@ismasan" title="Mastodon"><img alt="Mastodon profile" src="/images/mastodon-logo.svg" /></a></p>
  <p class="icon-link"><a href="https://github.com/ismasan" title="Github: ismasan"><img alt="Github profile" src="/images/github-logo.svg" /></a></p>
  <p class="icon-link"><a href="https://www.linkedin.com/in/ismasan/" title="LinkedIn"><img alt="LinkedIn profile" src="/images/linkedin-logo.svg" /></a></p>
  <p class="icon-link"><a href="https://bsky.app/profile/ismaelcelis.com" title="Bluesky"><img alt="Bluesky profile" src="/images/bluesky-logo.svg" /></a></p>
</footer>

<script defer src="{{ `js/custom.js` | absURL }}"></script>
