/* override post entry
 * ----------------------------------*/
body .post-entry {
}
body .post-entry a {
  position: inherit;
  inset: auto;
  margin-bottom: 0;
  font-size: 3rem;
  display: block;
  line-height: 1.3;
}
body .post-entry a:hover {
  text-decoration: underline;
}

/* heading anchors (JS generated)
 * ---------------------------------*/
h3.has-anchor, h2.has-anchor {
  position: relative;
}
h3.has-anchor a.heading-anchor,
h2.has-anchor a.heading-anchor {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  left: -26px;
  border-bottom-width: 0;
  color: gray;
}
h3.has-anchor a.heading-anchor::before,
h2.has-anchor a.heading-anchor::before {
  content: '→';
}
h3.has-anchor a.heading-anchor:hover,
h2.has-anchor a.heading-anchor:hover {
  color: orange;
}

.related-articles {
  margin-top: 4rem;
  border-top: solid 1px var(--fog);
  padding-top: var(--y-gap);
}

.related-articles p.more {
  margin-bottom: 2rem;
}
.related-articles .post-entry:first-of-type {
  margin-top: 0
}
.related-articles .post-entry {
  padding-block: 1rem;
}
.related-articles .post-entry a {
  font-size: 2rem;
  line-height: 1.3;
  text-decoration: underline;
}

.related-articles .post-entry a:hover {
  color: var(--lit);
}

.post-entry.in-home {
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  border-bottom: solid 1px var(--fog);
}

.next-prev, .post-content .next-prev {
  margin: 0 calc(var(--gap) * -1)4rem;
  border-radius: .5rem;
  display: block;
  background-color: var(--fog);
  opacity: 0.6;
  padding: 2rem var(--gap);
  font-weight: normal;
  border-width: 0;
}
.next-prev:hover {
  opacity: 1;
}
.next-prev span {
  display: block;
}
.next-prev strong {
  font-weight: bold;
}

/* Railway-oriented pipelines
 * ----------------------------------*/
.execution-trace {
  list-style: none;
  padding-left: 0;
  font-family: monospace;
  font-size: 0.9em;
  color: #666;
}
.execution-trace li {
  position: relative;
}
.execution-trace ul {
  list-style: none;
  margin-bottom: 0;
}

.execution-trace ul li {
  padding-left: 1em;
}
.execution-trace ul li::before {
  content: '';
  position: absolute;
  left: -0.5em;
  top: 0.5em;
  width: 1em;
  height: 0.5em;
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
}
.execution-trace li > code {
    margin-inline: 0;
}
.execution-trace .halt > code,
.execution-trace .error > code {
    color: #c00;
    background-color: #fdd;
    font-weight: bold;
}
.execution-trace .halt::after {
    content: ' ← halted';
    font-size: 0.8em;
}
.execution-trace .never::after {
    content: ' ← never run';
    font-size: 0.8em;
}
.execution-trace .note {
    font-size: 0.8em;
}
.execution-trace .note::before {
    content: ' ← ';
}
.execution-trace .continue > code {
    color: #038a03;
    background-color: #dfd;
    font-weight: bold;
}
.execution-trace .running > code {
    color: #b3762b;
    background-color: #f7ebc1;
    font-weight: bold;
}
.execution-trace .warning > code {
    color: #168594;
    background-color: #c1f1f7;
    font-weight: bold;
}

.footer .icon-link {
  display: flex;
}
.footer .icon-link a {
  display: flex;
}
.footer .icon-link a:hover {
  text-decoration: none;
  border-bottom: 0;
  opacity: 0.4;
}
.footer .icon-link img {
  width: 16px;
}

.highlight-negative {
  color: #c00;
  font-weight: bold;
}

body .post-entry a.read-more {
  font-size: 2rem;
  display: block;
  text-align: right;
}
body .post-entry .post-entry-summary {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

body .post-entry .post-entry-summary a {
  display: inline;
  font-size: 2rem;
  padding-bottom: .2rem;
  font-weight: 500;
  border-bottom: 2px solid var(--pro);
}

body .post-entry .post-entry-summary a:hover {
  text-decoration: none;
}
