/* override post entry
 * ----------------------------------*/
body .post-entry {
}
body .post-entry a {
  position: inherit;
  inset: auto;
  margin-bottom: 0;
  font-size: 3rem;
  display: block;
  line-height: 1.3;
}
body .post-entry a:hover {
  text-decoration: underline;
}

/* heading anchors (JS generated)
 * ---------------------------------*/
h3.has-anchor, h2.has-anchor {
  position: relative;
}
h3.has-anchor a.heading-anchor,
h2.has-anchor a.heading-anchor {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  left: -26px;
  border-bottom-width: 0;
  color: gray;
}
h3.has-anchor a.heading-anchor::before,
h2.has-anchor a.heading-anchor::before {
  content: '→';
}
h3.has-anchor a.heading-anchor:hover,
h2.has-anchor a.heading-anchor:hover {
  color: orange;
}

.related-articles {
  margin-top: 4rem;
  border-top: solid 1px var(--fog);
  padding-top: var(--y-gap);
}

.related-articles p.more {
  margin-bottom: 2rem;
}
.related-articles .post-entry:first-of-type {
  margin-top: 0
}
.related-articles .post-entry {
  padding-block: 1rem;
}
.related-articles .post-entry a {
  font-size: 2rem;
  line-height: 1.3;
  text-decoration: underline;
}

.related-articles .post-entry a:hover {
  color: var(--lit);
}
