<h3 style="margin-bottom: 1em;">Written elsewhere&hellip;</h3>
<article class="post-entry">
  <a href="https://thoughtbot.com/blog/writing-a-hypermedia-api-client-in-ruby">Writing a Hypermedia API client in Ruby</a>
  <time>May 12, 2017</time>
</article>

<article class="post-entry">
  <a href="https://thoughtbot.com/blog/writing-a-server-sent-events-server-in-go">Writing a Server Sent Events server in Go</a>
  <time>May 13, 2014</time>
</article>

<article class="post-entry">
  <a href="https://thoughtbot.com/blog/streaming-downloads-with-node-js">Streaming downloads proxy service with Node.js</a>
  <time>March 31, 2014</time>
</article>

<article class="post-entry">
  <a href="https://thoughtbot.com/blog/micro-network-daemons-in-go">A network of data consumers and producers with Go, UDP, Redis and ZeroMQ</a>
  <time>September 17, 2013</time>
</article>

<article class="post-entry">
  <a href="https://thoughtbot.com/blog/custom-event-emitters-in-javascript">Custom event emitters in Javascript</a>
  <time>July 14, 2010</time>
</article>

<article class="post-entry">
  <a href="https://thoughtbot.com/blog/json-event-based-convention-websockets">A JSON event-based convention for WebSockets</a>
  <time>February 10, 2010</time>
</article>
