<h3>Written elsewhere&hellip;</h3>
<article class="post-entry">
  <h2>Writing a Hypermedia API client in Ruby</h2>
  <time>May 12, 2017</time>
  <a href="https://thoughtbot.com/blog/writing-a-hypermedia-api-client-in-ruby"></a>
</article>

<article class="post-entry">
  <h2>Writing a Server Sent Events server in Go</h2>
  <time>May 13, 2014</time>
  <a href="https://thoughtbot.com/blog/writing-a-server-sent-events-server-in-go"></a>
</article>

<article class="post-entry">
  <h2>Streaming downloads proxy service with Node.js</h2>
  <time>March 31, 2014</time>
  <a href="https://thoughtbot.com/blog/streaming-downloads-with-node-js"></a>
</article>

<article class="post-entry">
  <h2>A network of data consumers and producers with Go, UDP, Redis and ZeroMQ</h2>
  <time>September 17, 2013</time>
  <a href="https://thoughtbot.com/blog/micro-network-daemons-in-go"></a>
</article>

<article class="post-entry">
  <h2>Custom event emitters in Javascript</h2>
  <time>July 14, 2010</time>
  <a href="https://thoughtbot.com/blog/custom-event-emitters-in-javascript"></a>
</article>

<article class="post-entry">
  <h2>A JSON event-based convention for WebSockets</h2>
  <time>February 10, 2010</time>
  <a href="https://thoughtbot.com/blog/json-event-based-convention-websockets"></a>
</article>
