{{ define "main" }}

{{ $latestPost := index (where .Site.RegularPages "Type" "in" site.Params.mainSections) 0 }}
{{ with $latestPost }}
  <article class="post-entry in-home">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    <time>{{ .Date | time.Format ":date_medium" }}</time>
    <span class="meta">{{ .ReadingTime }} minutes read</span>
    {{ if .Params.featuredImage }}
      <a href="{{ .Permalink }}">
        <img src="{{ .Params.featuredImage }}" loading="lazy">
      </a>
    {{ end }}
    <div class="post-entry-summary">{{ .Summary }}</div>
    <a class="read-more" href="{{ .RelPermalink }}">Read more →</a>
  </article>
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate (after 1 (where .Site.RegularPages "Type" "in" site.Params.mainSections)) 20 }}

{{ range $index, $page := $paginator.Pages }}
<article class="post-entry in-home">
  <a href="{{ .Permalink }}">{{ .Title }}</a>
  <time>{{ .Date | time.Format ":date_medium" }}</time>
  <span class="meta">{{ .ReadingTime }} minutes read</span>
  <p>{{ .Description }}</p>
</article>
{{ end }}

{{ partial "older_posts" }}

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="main-nav">
  {{ if $paginator.HasPrev }}
  <a class="prev" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="next" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a>
  {{ end }}
</nav>
{{ end }}<!---->

{{ end }}
