{{ define "main" }}

<article class="post-single">
  <header class="post-title">
    <p>
      <time>{{ .Date | time.Format ":date_medium" }}</time>
      {{ if or .Params.Author site.Author.name }}
      <span>{{ .Params.Author | default site.Author.name }}</span>
      {{ end }}
      <span>{{ .ReadingTime }} minutes read</span>
    </p>
    <h1>{{ .Title }}</h1>
  </header>
  <section class="post-content">{{ .Content }}</section>

  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <!-- related articles -->
  {{- range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) -}}
      {{- $.Scratch.Set "has_related" true -}}
  {{- end -}}

  {{ if $.Scratch.Get "has_related" }}
      <footer class="related-articles">
          <p class="more">Other articles &hellip;</p>
          {{- $num_to_show := .Site.Params.related_content_limit | default 3 -}}
          {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
            <article class="post-entry">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              <time>{{ .Date | time.Format ":date_medium" }}</time>
              <span class="meta">{{ .ReadingTime }} minutes read</span>
            </article>
          {{ end }}
      </footer>
  {{ end }}

  <!-- Disqus -->
  {{ if and site.DisqusShortname (not (eq .Params.comments false)) }}
  <div id="disqus_thread" class="post-comments"></div>
  <script>
    var disqusShortname = '{{ site.DisqusShortname }}';
    var script = document.createElement('script');
    script.src = 'https://' + disqusShortname + '.disqus.com/embed.js';
    script.setAttribute('data-timestamp', +new Date());
    document.head.appendChild(script);
  </script>
  {{ end }}
</article>

{{ end }}
