{{ define "main" }}

<article class="post-single">
  <header class="post-title">
    <p>
      <time>{{ .Date | time.Format ":date_medium" }}</time>
      {{ if or .Params.Author site.Author.name }}
      <span>{{ .Params.Author | default site.Author.name }}</span>
      {{ end }}
      <span>{{ .ReadingTime }} minutes read</span>
    </p>
    <h1>{{ .Title }}</h1>
  </header>
  <section class="post-content">{{ .Content }}</section>

  {{ with .NextInSection }}
    <a class="next-prev" href="{{ .Permalink }}">
      <span>Read next:</span>
      <strong>{{ .Title }}</strong>
    </a>
  {{ end }}

  <!-- related articles -->
  {{ $related := .Site.RegularPages.Related . | first 5 }}
  {{ with $related }}
      <footer class="related-articles">
          <p class="more">Other articles &hellip;</p>
          {{ range . }}
            <article class="post-entry">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              <time>{{ .Date | time.Format ":date_medium" }}</time>
              <span class="meta">{{ .ReadingTime }} minutes read</span>
            </article>
          {{ end }}
      </footer>
  {{ end }}

  <!-- Disqus -->
  {{ if and site.DisqusShortname (not (eq .Params.comments false)) }}
  <div id="disqus_thread" class="post-comments"></div>
  <script>
    var disqusShortname = '{{ site.DisqusShortname }}';
    var script = document.createElement('script');
    script.src = 'https://' + disqusShortname + '.disqus.com/embed.js';
    script.setAttribute('data-timestamp', +new Date());
    document.head.appendChild(script);
  </script>
  {{ end }}
</article>

{{ end }}
